/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.wrap {
  margin: auto;
  width: 80%;
}
/**/
.header {
  display: flex;
}
.start a {
  display: block;
  background: #653f3b;
  text-decoration: none;
  height: 200px;
  color: cornsilk;
  padding: 40px 180px 40px 200px;
  letter-spacing: 8px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.header a:hover {
  color: cornsilk;
  text-shadow: rgba(0, 0, 0, 0.75) 2px 2px 5px;
}
.videoContainer {
  background: #f3ebe7;
  width:min-content;
  height: 620px;
}
.since{
  background-color: #a76e63;
  width: 80px;
  height: 620px;
  max-width: 50%;
  right: 150px;
}
.since h3{
  writing-mode: vertical-rl;
  font-size: 20px;
  margin-top: 230px;
}
.paragraph1 {
  background: #a76e63;
  color: #f3ebe7;
  text-align: center;
  padding: 20px;

}
.paragraph2 {
  background: #f3ebe7;
  color: #a76e63;
}
.paragraph3 {
  background-color: #a76e63;
  height: 200px;
  width: 140px;
}
.link a{
  background-color: none;
  text-decoration: none;
  display: flex;
  text-align:right;
  margin-top: 150px;
  margin-right: 10px;
  color: #d8d8d8;
}
.paragraph4 {
  background-color: rgb(97, 46, 46);
  height: 200px;
  width: 290px;
}
.paragraph5 {
  background: #a76e63;
  color: #f3ebe7;
  padding: 20px;

}
.paragraph5 a{
  text-decoration: none;
  color: #f3ebe7;
  
}
.paragraph5 p{
  margin-right: 20px;
  margin-left: 10px;
}
.paragraph1 h6 {
  font-weight: bolder;
}
.paragraph1 p {
  font-size: 10px;
}
.paragraph5{
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}
.paragraph4 p{
  font-size: 16px;
  text-align: center;
  display: flex;
  align-content: flex-end;
  padding-top: 30px;
  color: #dcdbe4;
}
.paragraph5 p{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph1,
.paragraph2,
.paragraph5 {
  height: 200px;
  width: 215px;
}


.intro {
  display: flex;
}
.introBox {
  margin-top: 20px;
}
.header{
  position:relative;
}
.picture{
  position:absolute;
  width: 216px;
  height: 285px;
  left: 429px;
  background-color: khaki;
}
.picture2{
  position: absolute;
  width:250px;
  height:260px;
  top:360px ;
}
.picture3{
  position: absolute;
  width: auto;
  height: auto;
  min-width: 10%;
  min-height: auto;
  max-height: 27%;
  max-width: auto;
  left: 5px;
  top:0;

}



/*About*/
.Welcome h2 {
  font-family: 'Ubuntu', sans-serif;;
  color: rgb(110, 94, 94);
  font-size: 44px;
  text-align: center;
  padding: 4px;
  margin-top: 100px;
  margin-bottom: 48.6px;
}
.photo{
  width: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0px 8.5px 0px 8.5px;
}
.photo h2{
  font-size: 25px;
  font-family:'Style Script', cursive;
  word-spacing: 3px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
}
.aboutBox {
  display: flex;
}
.aboutBox img {
  max-width: 85%;
  width: auto;
  margin-left: auto;
}
.aboutBox .selfintro {
  width:auto;
  max-width: 100%;
}
.selfintro p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 26px;
  margin-bottom: 6px;
}
.selfintro {
  display: flex;
}
.funfacts{
  display: grid;
  justify-content: space-evenly;
}
.title{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
.titles {
  font-size: 17px;
  font-family: MicrosoftJhengHeiRegular;
}
.titles p{
  font-size: 14px;
  text-align: justify;
}
.fact3 img{
  align-items: center;
  margin: 0, 7px, 0, 7px;

}

/*basics for baking*/
.BasicsForBaking{
  margin-top: 150px;
}
.Content {
  display: flex;
  justify-content: space-around;
 
}
.Content1 , .Content2, .Content3{
  width: 284px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0px 8.5px 0px 8.5px;
}

.imgContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}




.BasicsForBaking h2 {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
  font-family:'Ubuntu', sans-serif;
  color: rgb(110, 94, 94);
}
.BasicsForBaking h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-top: 15px;
}

.Guidelines{
  text-align: center;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 20px;

}





/*Showcase*/
.Showcase{
  display: flex;
  position: relative;
  margin-bottom: 100px;
  
}
.ShowCase {
  margin-top: 70px;
  font-size: 50px;
  text-align: center;
  color: rgb(110, 94, 94);
  font-family: 'Ubuntu', sans-serif;
}
.dot1, .dot2, .dot3, .dot4, .dot5{
  position: absolute;
  width: 60px;
  height: 60px;
}
.dot1{
  top: 180px;
  left: 35px;
}
.dot2{
  left: 35px;
  top: 1550px;
}
.dot3{
  left: 35px;
  top: 2500px;
}
.dot4{
  left: 35px;
  top: 3500px;
}
.dot5{
  left: 35px;
  top: 4800px;
}
.Showcase .endingline{

  width: 46px;
  height: 4px;
  margin: auto;
  background: #d8d8d8;
  border-radius: 2px;
  margin-bottom: 56px;
}
.CurrentWorks{
  position: relative;
  margin: auto;
}
.startingline{
  align-items: center;
  margin-left: 64px;
  width: 2px;
  height: 6000px;
  background-color: #a76e63;
}
.startdot img{
  align-items: center;
  width: 80%;
  height: auto;
}
.pic1 img {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  left: 150px;
  top: 150px;
}

.pic2 img {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  right: 150px;
  top: 1400px;
}
.pic3 img{
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  left:150px;
  top:2350px;
}
.pic4 img{
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  right:150px;
  top:3350px;
}
.pic5 img{
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  left:150px;
  top:4750px;
}
.SidePic{
  display: flex;
  margin: 7px 0px 7px 0px;
}
.SidePic .CinnamonRolls{
  border: 3px solid #c0a83c;
  border-radius: 20px;
  width: auto;
  height: auto;
  max-width: 35%;
  padding: 8px 9px 12px 12px;
  position:absolute;
  right: 150px;
  top: 160px;
}
.SidePic .NewYorkCheeseCake{
  border: 3px solid #507bd6;
  border-radius: 20px;
  width: auto;
  max-width: 35%;
  padding: 8px 9px 12px 12px;
  position:absolute;
  left: 150px;
  top: 1500px;
}
.SidePic .RaspberryCheeseCake{
  border: 3px solid #cf55df;
  border-radius: 20px;
  width: auto;
  max-width: 35%;
  padding: 8px 9px 12px 12px;
  margin: 0px 13px 0px 20px;
  position:absolute;
  right: 150px;
  top: 2450px;
}
.SidePic .OceanCake{
  border: 3px solid #c55529;
  border-radius: 20px;
  width: auto;
  max-width: 35%;
  padding: 8px 9px 12px 12px;
  position:absolute;
  left: 150px;
  top: 3450px;
}
.SidePic .Tiramisu{
  border: 3px solid #c55529;
  border-radius: 20px;
  width: auto;
  max-width: 35%;
  padding: 8px 9px 12px 12px;
  position:absolute;
  right: 150px;
  top: 4850px;
}

.what{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  color: #4d0a0a;
  letter-spacing: 0.53px;
  margin-bottom: 10px;
}
.ingredients, .steps {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #4a4a4a;
  letter-spacing: 0.53px;
  margin-bottom: 10px;
}
.ingredientsList, .SidePic p{
  font-family: MicrosoftJhengHeiBold;
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 0.53px;
  margin-bottom: 10px;
}

/*main*/
.container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around ;
}

#main h2 {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#main h3 {
  font-size: 65px;
  font-family: serif;
  font-weight: bolder;
  margin-left: 10%;
}
.image {
  height: 500px;
  width: 500px;
  margin-left: 35px;
}
.instagram a, .order a{
  text-decoration: none;
}
.lastwords{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
/*footer*/
#main-footer {
  text-align: center;
  background-image: url(./images/img-Looper-bg.png);
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
#main-footer img{
  position: relative;
  width: 10%;
  height: auto;
}
@media (max-width: 825px) {
}
